* {
    box-sizing: border-box;
}
html{
    overflow-x: hidden;
     height: 100%;
}
body {
    background: url('skies.jpg') no-repeat;
    background-size: 100% 250%;
}
fieldset{
    border: none;
}
.startBox p{
    height: 400px;
    align-items: center;
}
.startBox a{
    align-items: center;
}
.startBoxContent{
    padding: 10px;
    width: 1100px;
}
.startBoxContent p{
    color: white;
}
.labelHide{
    display: none;
}
.container {
    width: 1174px;
   background-color: rgba(0,0,0,0.4);
    margin: 15px auto 8px auto;
    padding: 20px;
    text-align: center;

}
header h1{
    text-align: center;
}
#form{
    margin-bottom: 10px;
}
label{
    color: #fff;
}

h1,h3, li{
    color: white;
}

li{
    list-style: none;
}

input[type=text], select {
    width: 31.5%;
    padding: 10px 10px;
    margin: 4px 0;
    display: inline;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background-color:rgb(0, 0, 0, 0.5);
    color: white;
}

button {
    width: 31.5%;
    background-color: #4CAF50;
    color: white;
    padding: 8px 15px;
    margin: 8px auto;
    text-align: center;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1.2em;
}

input[type=submit]:hover {
    background-color: #45a049;
}

div {
    border-radius: 5px;
    padding: 1px;
}
.barChart{
    padding: 30px 30px;
}
.chart-container{
    background-color:rgb(0, 0, 0, 0.7);
}
.piechart{
    display: flex;
    justify-content: center;
    padding: 30px 30px;
    color: white;
    font-size: 1.5em;
}
.piechart .chart-container{
    display: flex;
    float: left;
    width: 33%;
    position: relative;
    background-color:rgb(0, 0, 0, 0.7);
    margin: 5px;
}
.results{
    display: flex;
}
.results .cityWithImages p{
    color: white;
}
.results .cityWithImages{
    float: left;
    width: 45%;
    padding: 30px 30px;
    margin: 0 auto;
    background-color:rgb(0, 0, 0, 0.7);
    font-size: 1em;
}
.results .cityWithImages img{
    width: 100%;
    height: auto;
}
.results .cityWithImages .cityImage{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
}
.results .cityWithImages .cityImage p{
    padding: 5px;
    float: left;
    position: absolute;
    background: rgba(0,0,0,0.8);
}

@media (max-width: 1024px) {
    .container, .startBoxContent{
        width: 850px;
    }
}
@media (max-width: 768px) {
    .container, .startBoxContent {
        width: 720px;
    }
}
@media only screen and (min-width : 320px) and (max-width : 481px) {
    body{
        background: #010A59;
    }
    .container, .startBoxContent {
        width: 400px;
        margin: 0 auto;
        overflow: hidden;
    }
    input[type=text], select, button {
        width: 90%;
        display: block;
        margin: 0 auto 10px auto;
    }
    .results{
        display: block;
    }
    .piechart{
        display: block;
    }
    .piechart .chart-container{
        float: none;
        width: 90%;
    }
    .results .cityWithImages{
        float: none;
        width: 90%;
    }
}
